# 1. Bloquea toda la data extraída y procesada para evitar fugas 
*.csv
*.xlsx
*.xls
*.rtf
*.pdf
*.txt
ANEXOS/
input/
output/
downloads/

# 2. Archivos con claves de Edifito o variables de entorno
.env
secretos.py
config_privada.py
secrets.toml

# 3. Archivos del sistema
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# 4. Para no subir el ejecutable del navegador
chromedriver
geckodriver
chromedriver.exe
geckodriver.exe
*.log

# 5. Configuración de VS Code o PyCharm
.vscode/
.idea/
*.swp
*.swo

# 6. Archivos ocultos de macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
